flows.json
[{"id":"4276192d.011558","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7febdbe2.3a9184","type":"ibmiot in","z":"4276192d.011558","authentication":"apiKey","apiKey":"58b1a2be.b1daac","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"IOTdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":220,"wires":[["41262ba3.4a0014","e5527e3e.1f45f","10a3dce0.5745f3","f17edcb2.efd65"]]},{"id":"41262ba3.4a0014","type":"function","z":"4276192d.011558","name":"Temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["ece600bf.b2b1"]]},{"id":"e5527e3e.1f45f","type":"function","z":"4276192d.011558","name":"Humidity","func":"msg.payload = msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":220,"wires":[["72e4e39e.582f2c"]]},{"id":"ece600bf.b2b1","type":"ui_gauge","z":"4276192d.011558","name":"Temp Gauge","group":"c8741efc.d1068","order":1,"width":7,"height":5,"gtype":"gage","title":"Temperature gauge","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#eded07","#f20707"],"seg1":"","seg2":"","x":595,"y":120,"wires":[]},{"id":"72e4e39e.582f2c","type":"ui_gauge","z":"4276192d.011558","name":"Humidity Gauge","group":"c8741efc.d1068","order":2,"width":7,"height":5,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#f9f906","#f50505"],"seg1":"","seg2":"","x":595,"y":220,"wires":[]},{"id":"b5f0bf7f.a4502","type":"ibmiot out","z":"4276192d.011558","authentication":"apiKey","apiKey":"58b1a2be.b1daac","outputType":"cmd","deviceId":"seconddevice","deviceType":"IOTdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":500,"wires":[]},{"id":"8bc9841.3f58178","type":"ui_button","z":"4276192d.011558","name":"Motor On","group":"4c568f0a.f13d7","order":2,"width":7,"height":1,"passthru":false,"label":"Sprinkler ON","tooltip":"Click to turn on sprinkler","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":180,"y":500,"wires":[["b5f0bf7f.a4502","d22b37cd.bc4f68"]]},{"id":"ebd07b9d.b93378","type":"ui_button","z":"4276192d.011558","name":"Motor Off","group":"4c568f0a.f13d7","order":5,"width":7,"height":1,"passthru":false,"label":"Sprinkler OFF","tooltip":"Click to turn off sprinkler","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"json","topic":"","x":180,"y":620,"wires":[["b5f0bf7f.a4502","d22b37cd.bc4f68"]]},{"id":"d22b37cd.bc4f68","type":"debug","z":"4276192d.011558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":527,"y":620,"wires":[]},{"id":"b136e3c7.6ff05","type":"http request","z":"4276192d.011558","name":"Open weather api","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Chennai,IN&appid=b3fd26ae7bb5ad6af7875eac62fbaf9a","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":940,"wires":[["a3b6971b.d8a5c8","df19ebb1.ae92b8","9c0752d2.5e2aa","d03aaa9a.f7d758","df3eea8a.d90918","b3b81b1d.c5ee58","4ab0132f.2c7d6c"]]},{"id":"b6e9dde7.8d23e","type":"inject","z":"4276192d.011558","name":"API Call","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":940,"wires":[["b136e3c7.6ff05"]]},{"id":"df19ebb1.ae92b8","type":"function","z":"4276192d.011558","name":"Curr Temp","func":"msg.payload= Math.floor(msg.payload.main.temp)-273;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1256,"wires":[["7c87c0e2.19eb3"]]},{"id":"9c0752d2.5e2aa","type":"change","z":"4276192d.011558","name":"Forecast desc","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1105,"wires":[["71275b17.347cc4"]]},{"id":"a3b6971b.d8a5c8","type":"debug","z":"4276192d.011558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":940,"wires":[]},{"id":"10a3dce0.5745f3","type":"function","z":"4276192d.011558","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["287e364b.4f790a"]]},{"id":"287e364b.4f790a","type":"ui_gauge","z":"4276192d.011558","name":"Soil Moisture","group":"c8741efc.d1068","order":3,"width":7,"height":5,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#04cd04","#f6f609","#f60909"],"seg1":"","seg2":"","x":590,"y":320,"wires":[]},{"id":"f17edcb2.efd65","type":"debug","z":"4276192d.011558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":400,"wires":[]},{"id":"71275b17.347cc4","type":"ui_text","z":"4276192d.011558","group":"14f3da56.76c9c6","order":2,"width":7,"height":1,"name":"Forecast","label":"Forecast    :    ","format":"{{msg.payload}}","layout":"row-center","x":720,"y":1104,"wires":[]},{"id":"7c87c0e2.19eb3","type":"ui_gauge","z":"4276192d.011558","name":"Curr TEMP","group":"14f3da56.76c9c6","order":4,"width":7,"height":5,"gtype":"gage","title":"Current Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#fdfd0d","#f40606"],"seg1":"","seg2":"","x":727,"y":1254,"wires":[]},{"id":"df3eea8a.d90918","type":"function","z":"4276192d.011558","name":"Humidity","func":"msg.payload= msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":1339,"wires":[["197cd315.1b205d"]]},{"id":"d03aaa9a.f7d758","type":"change","z":"4276192d.011558","name":"Location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1020,"wires":[["ea342a23.31e248"]]},{"id":"ea342a23.31e248","type":"ui_text","z":"4276192d.011558","group":"14f3da56.76c9c6","order":1,"width":7,"height":1,"name":"Location","label":"Location    :    ","format":"{{msg.payload}}","layout":"row-center","x":725,"y":1020,"wires":[]},{"id":"197cd315.1b205d","type":"ui_gauge","z":"4276192d.011558","name":"Humidity","group":"14f3da56.76c9c6","order":5,"width":7,"height":5,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#f4f401","#eb0a0a"],"seg1":"","seg2":"","x":718,"y":1339,"wires":[]},{"id":"b3b81b1d.c5ee58","type":"change","z":"4276192d.011558","name":"Wind speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":427,"y":1185,"wires":[["3f13b6c2.da400a"]]},{"id":"3f13b6c2.da400a","type":"ui_text","z":"4276192d.011558","group":"14f3da56.76c9c6","order":3,"width":7,"height":1,"name":"Wind speed","label":"Wind Speed :  ","format":"{{msg.payload}} m/s","layout":"row-center","x":738,"y":1185,"wires":[]},{"id":"49264fad.a69d3","type":"ui_gauge","z":"4276192d.011558","name":"Pressure","group":"14f3da56.76c9c6","order":6,"width":7,"height":5,"gtype":"gage","title":"Pressure","label":"hpa","format":"{{value}}","min":0,"max":"1084","colors":["#00b500","#f9f906","#fb0404"],"seg1":"","seg2":"","x":730,"y":1440,"wires":[]},{"id":"4ab0132f.2c7d6c","type":"function","z":"4276192d.011558","name":"Pressure","func":"msg.payload = msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1440,"wires":[["49264fad.a69d3"]]},{"id":"58b1a2be.b1daac","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c8741efc.d1068","type":"ui_group","z":"","name":"Sensor Data","tab":"9e8a60.19a895a","order":1,"disp":true,"width":"21","collapse":false},{"id":"4c568f0a.f13d7","type":"ui_group","z":"","name":"Motor Controls","tab":"9e8a60.19a895a","order":2,"disp":true,"width":21,"collapse":false},{"id":"14f3da56.76c9c6","type":"ui_group","z":"","name":"Weather Forecast","tab":"9e8a60.19a895a","order":3,"disp":true,"width":"21","collapse":false},{"id":"9e8a60.19a895a","type":"ui_tab","z":"","name":"DASHBOARD","icon":"dashboard","order":1,"disabled":false,"hidden":false}]